streamlit
bokeh
streamlit-bokeh-events
Pillow
paho-mqtt
gtts
googletrans
pyaudio

streamlit
gTTS
googletrans
paho-mqtt
Jinja2
contourpy 
#numpy 
numpy
packaging 
pandas 
pillow
PyYAML 
tornado 
xyzservices 
bokeh
Streamlit-bokeh-events
